html{
	box-sizing: border-box;
}

*. *:before e:after{
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: verdana, geniva, serif;
}

header {
	padding: 20px 0;
}
div.contenedor{
	width: 1200px;
	margin: 0 auto;
}

